body{

	padding:0px;
	margin: 0px;
}

.menu{

	width:100%;
	margin:0px;
	padding:5px;
	margin:0;
	background-color: grey;
	position: fixed;
}

.menu a.menu-link, .menu a{

	color: white;
	text-decoration: none;
	font-weight: bold;
}

.menu a.menu-link:hover{

	color: black;
}

.main{

	padding:20px;
}

ul{

	list-style-type:none;
	padding-left:1px;
}

ul li{

	padding-left:15px;
}

ul li p{

	padding-left:28px;
}

.base-menu a.doc-link{

	text-decoration: none;
	font-weight: bold;
	color:maroon; 
}

.base-menu a.doc-link:hover{

	color: black;
}

.base-menu a.pdf-link{

	text-decoration: none;
	font-weight: bold;
	color:darkblue; 
}

.base-menu tr td:nth-child(2){

	text-align: right;
};