body{

	padding:0px;
	margin: 0px;
}

.menu{

	width:100%;
	margin:0px;
	padding:5px;
	margin:0;
	background-color: grey;
	position: fixed;
}

.menu a.menu-link, .menu a{

	color: white;
	text-decoration: none;
	font-weight: bold;
}

.menu a.menu-link:hover{

	color: black;
}

.main{

	padding:20px;
}

ul{

	list-style-type:none;
	padding-left:1px;
}

ul li{

	padding-left:15px;
}

ul li p{

	padding-left:28px;
}

.base-menu a.doc-link{

	text-decoration: none;
	font-weight: bold;
	color:maroon; 
}

.base-menu a.doc-link:hover{

	color: black;
}

.base-menu a.pdf-link, a.pdf-link{

	text-decoration: none;
	font-weight: bold;
	color:darkblue; 
}

.base-menu tbody tr td{

	font-weight: bold;
}

.base-menu thead tr th{

	font-weight: bold;
	background-color: #333;
	padding:5px;
	color: white;
}

.base-menu tr td{

	padding: 5px;
}

.base-menu tr:nth-child(odd){

	background-color: #B2B2B2;
}

.base-menu tr:nth-child(even){

	background-color: #E6E6E6;
}

.email{

	color:darkred;
	font-weight: bold;
}

.twitter{

	color:darkblue;
	font-weight: bold;
}